
<header id="header_one">
    <h3 id="nameing">Name</h3>
    <div id="sign_in_bar">

    <form action="/users/signin" method="get">
        <input type="submit" name="Sign in" id="header_signin" value="Sign  in">
    </form>
    <form action="/users/signup" method="get">
        <input type="submit" name="Sign up" id="header_signin" value="Sign up">
    </form>
</div>
</header>