<h1>Sign in page </h1>
<form action="/users/create_session" method="post">
    <input type="email" name="email" placeholder="Enter email" required>
    <input type="password" name="password" placeholder="Enter password" required>
    <input type="Submit" value="Sign In">
</form>